<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{.Title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <style>
    body {
      color: black;
      background-color: #FFF;
      font-family: "Roboto Mono", monospace;
    }
    a {
      text-decoration: none;
    }
    code {
      color: #000000;
      background-color: #e5e5e5;
      font-family: "Roboto Mono", monospace;
      padding: 0 3px 0 3px;
    }
    .navbar {
      margin: 0;
      padding: 0;
      overflow: hidden;
      border-bottom-color: black;
      border-bottom-style: dotted;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      position: fixed;
      top: 0;
      background-color: #FFF;
    }
    .navitem {
      display: inline-block;
      text-align: center;
      padding: 14px 16px;
      color: black;
    }
    .dropdown {
      display: inline-block;
    }
    .navitem:hover, .dropdown:hover, .dropdown-content a:hover {
      background-color: #f1f1f1;
    }
    .dropdown-content {
      display: none;
      position: fixed;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      z-index: 1;
    }
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      display: block;
      text-align: left;
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
    .content {
      margin: 60px 5%;
      width: 90%;
    }
    .footer {
      margin: 0;
      padding: 0;
      overflow: hidden;
      border-top-color: black;
      border-top-style: dotted;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      position: fixed;
      bottom: 0;
      background-color: #FFF;
    }
  </style>
</head>
<body>
  <div class="navbar">
    <a class="navitem" href="/">Latest</a>
    <a class="navitem" href="/posts">Posts</a>
    <div class="dropdown">
      <a class="navitem" href="/projects">Projects</a>
      <div class="dropdown-content">
        <a href="https://gitlab.com/Kpovoc/chat-steward">Chat Steward</a>
        <a href="https://gitlab.com/Kpovoc/simple-text-blog">Simple Text Blog</a>
      </div>
    </div>
    <a class="navitem" href="/contact">Contact Us</a>
    <a class="navitem" href="https://www.patreon.com/KhronoSync">Support Us</a>
  </div>
  <div class="content">
    {{.Content}}
  </div>
  <div class="footer">
    {{.Footer}}
  </div>
</body>
</html>
