<h2>Chat Steward: 0.2.0 Release</h2>
<h3>2018-10-01</h3>
<p>
  It has been a while. Though this release may not seem to have a lot on the surface, there has
  been a fair amount of work going on underneath. The big news of the release is the addition of
  the Info plugin!
</p>
<h3>Info Plugin</h3>
<p>
  Now, when setup, a user can type the command <code>!info</code> to obtain a list of valid terms.
  When a valid term is used with the info command, the associated information will be
  private messaged to the user.
</p>
<p>
  For instance, if the admin has setup a 'peertube' info term, then when a user types
  <code>!info peertube</code>, they should get back something like
  <code>PeerTube Info - Official: https://getjupiter.com/ | Community: https://peertube.linuxrocks.online</code>.
</p>
<p>
  I chose to change the syntax up a bit from the original JBot that Chat Steward is based on. There,
  to get information, the user would use commands like <code>!mumble</code> or <code>!discord</code>.
  To add a new service's information to JBot, the admin would have to go into the code, and add the
  correct command and information to the code base itself.
</p>
<p>
  The flexibility in Chat Steward's Info plugin should allow the admin to put as many terms and
  information into the configuration file as needed. This means that when an admin spins up a new
  service, the information for said service can easily be added to the bot without the need for an
  update to the Chat Steward code base.
</p>
<h3>Underneath the Hood</h3>
<p>
  This release, Chat Steward has undergone some structural changes to the code base, and will
  continue to undergo even more in the lead up to a 1.0 release. In an effort to make the project
  more "Go-like", I implemented the "Standard Go Project Layout" from
  <a href="https://github.com/golang-standards/project-layout">here</a>. Additional changes include
  the "Startup Wizard" undergoing some implementation changes in order to make it more testable,
  and a migration of the code base to use Go 1.11.
</p>
<h3>Try it today!</h3>
<p>
  If Chat Steward is starting to sound like the project for you, feel free to try out the beta from
  the snap store <a href="https://snapcraft.io/chat-steward">here</a>. Or if you prefer the command
  line, you can install it with <code>snap install chat-steward --beta</code>. Once installed, it
  can be run from the command line with <code>chat-steward</code>, and it should take you through
  the first time "Startup Wizard". For more information, checkout our
  <a href="https://gitlab.com/Kpovoc/chat-steward">GitLab</a> page.
</p>