<h2>Chat Steward: A modern ShowBot</h2>
<h3>2018-08-02</h3>
<p>
  This first FOSS project we'll be working on is
  <a href="https://gitlab.com/Kpovoc/chat-steward">Chat Steward</a>.
</p>

<p>
  Chat Steward is intended to be a lightweight and modern replacement for Jupiter Broadcasting's
  <a href="https://github.com/rikai/Showbot">JBot</a>, and will be written in Go.
</p>

<p>
  Some of the goals of the project are:
</p>

<ul>
  <li>Should work across chat platforms. Currently we plan to target IRC and Discord, with future
    plans to possibly integrate Telegram in as well.</li>
  <li>Should be easy to setup. The goal is to have the application built as a
    <a href="https://snapcraft.io/">Snap Package</a>, and published to the Snap store. Should be
    as easy to install as <em>sudo snap install chat-steward</em>, and should take the user through
    an intial setup wizard in order to configure the bots.</li>
  <li>Should be easily extensible through a plug'n'play project architecture.</li>
  <li>Although made with JB in mind, the project should be generic enough that other Artists and
    Podcasters can incorporate it into their show flow.</li>
</ul>

<p>
  <a href="https://jupiterbroadcasting.com/">Jupiter Broadcasting</a> produces some of our favorite
  Linux and Open Source podcasts, and this is our attempt to give back in some way to the community.
  Also, feel free to support their patreon <a href="https://www.patreon.com/jupitersignal">here.</a>
</p>