<h2>Chat Steward: 0.1.0 Release</h2>
<h3>2018-08-18</h3>
<p>
  Chat Steward is finally versioned! We've reached the 0.1.0 milestone. Some of the features Chat Steward contains:
</p>
<ul>
  <li>Supports connections to multiple IRC servers and channels.</li>
  <li>Able to connect to Discord through their bot API.</li>
  <li>Titles Plugin which allows the Bot Admin to define a new show, allows the Users to suggest titles for the new show, and allows anyone to go to the titles page and vote for their favorite.</li>
  <li>8ball Plugin that will answer any question asked of it (just maybe not in a way that makes sense).</li>
</ul>
<p>
  Checkout the complete <a href="https://gitlab.com/Kpovoc/chat-steward/blob/master/CHANGELOG">CHANGELOG</a>.
</p>
<p>
  See where we're going next with our <a href="https://gitlab.com/Kpovoc/chat-steward/wikis/Roadmap">Roadmap to 1.0</a>.
</p>
